/*
    ========================================================
  ================================================================
       Stylesheet for DocBook Progress2 Manual
  ================================================================
    ========================================================

    $Id$
    author - Laurent Laville <pear@laurent-laville.org> aka farell
*/

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div.authorgroup {
  background-image: url(img/created-with-docbook.png);
  background-repeat: no-repeat;
  background-position: top right;
}

div.revhistory table, div.revhistory td  {
  border: none;
}
div.revhistory table {
  background-color: #339900;
}
div.revhistory th  {
  color: #FFF;
}
div.revhistory td  {
  background-color: #EEE;
}

div.funcsynopsisinfo {
  background-color: #EEE;
}

div.example {
  background-image: url('img/example.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 55px;
}

pre.programlisting {
  background-color: #EEE;
  padding: 1em;
  border-left: 10px solid darkgray;
}

div.note, div.tip, div.warning, div.caution, div.important {
  background-color: lightyellow;
  border: 2px solid silver;
}

pre.screen {
  border: 1px solid darkgray;
  padding: 1em;
}

div.screenshot {
  border: 1px solid darkgray;
  padding: 1em;
  text-align: center;
}

/*
   Give size to all admonition graphics
   to allow to fix the PNG behavior for IE 5+ (alpha channel)
   See also: pngbehavior.htc
             http://webfx.eae.net/dhtml/pngbehavior/pngbehavior.html
*/
div.note img, div.tip img, div.warning img, div.caution img, div.important img {
  width: 48px;
  height: 48px;
  behavior: url("pngbehavior.htc");
}


h1.title {
  display: none;
}

h3.editor {
  font-weight: normal;
  font-size: 0.8em;
}

p.copyright {
  color: #006600;
}

/*
   callout graphic text-alternative rendering
*/
pre.programlisting img {
  color: white;
  background-color: black;
}

div.table table {
  width: 100%;
}

table.qfamsHeader, table.qfamsFooter {
  width: 100%;
  border: 0;
  padding: 0;
  spacing: 0;
  background-color: lightgreen;
}
table.qfamsHeader td {
  vertical-align: bottom;
}
table.qfamsHeader td h1 {
  text-align: right;
}
table.qfamsHeader td img {
  text-align: left;
}
table.qfamsHeader h1 {
  color: #006600;
}
table.qfamsFooter {
  font-size: 0.7em;
  font-style: italic;
}

/* external link */
a.external {
  background: transparent url(img/external-link.gif) 4px 4px no-repeat;
  padding: 1px 0 1px 16px;
}

/* FAQ list */
tr.toc dl {
  font-size: 12px;
}

tr.question td {
  padding-top: 1em;
  font-weight: bold;
  font-size: 12px;
}

tr.answer {
  font-size: 12px;
}

/* callout list */
div.calloutlist td p, div.calloutlist div.orderedlist, div.calloutlist span.term {
  font-size: 12px;
}

div.variablelist div.itemizedlist {
  font-size: 12px;
}

